#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

select {
  width: 100%;
  font-size: 2em;
  border: 1px solid #ccc;
  padding: .25em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
